*{
   margin: 0;
   padding: 0;
}

body{
   color: black;
   font-family: 'Open Sans', sans-serif;
   font-weight: 900;
}

.sections{
   padding-top: 3em;
   padding-bottom: 3em;
}

.oddSect{
   background: url("background.png");
   background-repeat: no-repeat;
   background-size: cover;
}

.featherlight-inner li{
   margin-left: 1.5em;
}

.col-lg-3{
   width: 400px;
   text-align: center;
}

/* ABOUT SECTION*/

h1.about{
   text-align: center;
   padding: 1em;
   margin: auto;
   margin-bottom: 1em;
   width: 60%;
   color: black;
   font-weight:900;
   text-shadow: 0px 0px 3px #000;
}

h2.about,p.about{
   padding-bottom: 2em;
   padding: 1em;
   margin: auto;
}

div#about{
   margin-bottom: 2em;
   padding: 2em;
   background-color: white;
   width: 60%;
   margin-left: auto;
   margin-right: auto;
}

/* ------------------------------------------------------------ */

/* UNDERGRADUATE SECTION*/

div.undergrad{
   margin: 4em;
}

h1.undergrad{
   text-align: center;
   font-weight: bold;
}

div.undergrad.col-sm{
   text-align: center;
   padding: 2em;
   background-color: #FFBA75;
   border: none;
}

div.undergrad h2{
   padding-bottom: 1em; 
   font-weight: bold;
}

/* ------------------------------------------------------------ */

/* GRADUATE SECTION*/

h1.grad{
   text-align: center;
   background-color: white;
   padding: 1em;
   width: 550px;
   margin-left: auto;
   margin-right: auto;
   font-weight: bold;
}

.gradCert{
   text-transform: capitalize;
}

div.grad{
   margin: 4em;
}

div.grad.col-sm{
   text-align: center;
   padding: 2em;
   background-color: white;
   border: none;
}

div.grad h2{
   padding-bottom: 1em; 
   font-weight: bold;
}

h2.gradCert{
   padding-bottom: 1em;
   font-weight: bold;
}

div#gradCert{
   background-color: white;
   text-align: center;
   padding: 1em;
   width: 650px;
   margin-left: auto;
   margin-right: auto;
}

/* ------------------------------------------------------------ */


/* MINORS SECTION */

h1.minors{
   padding-bottom: 2em;
   text-align: center;
   font-weight: bold;
}

div.col-sm.minors{
   margin: 2em;
   text-align: center;
   padding: 2em;
   background-color: #FFBA75;
   border: none;
   vertical-align: middle;
}

div#minorTable div.row div.col-sm.minors{
   height: 200px;
}

div#minorTable div.row div.col-sm.minors h2{
   font-size: 1.5em;
   font-weight: bold;
   padding-top: calc(calc(200px - 5em)/2) !important;
}

#minorTable div.row{
   padding-left: 1.5em !important;
   padding-right: 1.5em !important;
}

/* ------------------------------------------------------------ */

/* EMPLOYMENT SECTION*/
#coop_empTables{
   width: 80%;
}

#employTables{
   width: 80%;
}

#employment h1#mainTitle{
   text-align: center;  
   font-weight: bold;
   padding-bottom: 1em;
}

#employment h2{
   text-align: center;
   font-weight: 600;
}

div#statsTable div.row{
   padding-left: 1.5em !important;
   padding-right: 1.5em !important;
}


div#statsTable div.row div.col-sm{
   text-align: center;
   padding: 2em;
   border: none;
   margin-top: 2em;
   margin-bottom: 2em;
}

#employment p{
   text-align: center;
   width: 80%;
   margin-left: auto;
   margin-right: auto;
}

#employersTable h2, #careersTable h2{
   font-size: 1em;
}

h2#empH2, h2#careerH2{
   padding-top: 1em;
}

#employersTable div.col-sm, #careersTable div.col-sm{
   border: none;
}

div#employersTable div.row, div#careersTable div.row{
   width: 80%;
   margin-left: auto;
   margin-right: auto;
}



/* ------------------------------------------------------------ */

/* MAP SECTION*/


#mapDiv{
   text-align: center;
   position: relative;
   height: 750px;
   overflow: hidden;
}


#mapDiv iframe#map{
   top: -1000px;
   height: 1000px;
}


.dataTables_wrapper{
   width: 80%;
   margin-left: auto;
   margin-right: auto;
}

div#coopTable h3{
   padding-top: 5em;
   padding-left: 5em;
}

div.coopHeader{
   text-align: center;
   padding-top: 2em;
   padding-bottom: 2em;
   font-size: 1.5em;

}

/* ------------------------------------------------------------ */

/* PEOPLE SECTION */

h1#peopleHeader{
   text-align: center;
}

div.facPerson, div.staffPerson{
   background-color: white;
   margin: 2em;
   padding: 1em;
   text-align: center;
   color: black;
}

#staffH2, #facH2{
   padding-left: 2em;
   padding-top: 3em;
}

/* ------------------------------------------------------------ */

/* AREA RESEARCH SECTION*/


#InterestResearchTable div.row{
   padding-top: 1.5em;
}

div.areaResearch{
	background: #FFBA75;
	border-radius:50%;
	color: black;
	height: 300px;
	font-weight: bold;
	font-size: 1.5em;
	width: 300px;
	margin:0 auto;
}

div.areaResearch h2{
   padding-top: calc(calc(300px - 2em)/2) !important;
   text-align: center;
}

/* ------------------------------------------------------------ */

/* FACULTY RESEARCH SECTION*/

img.facultyResearch{
   height: 180px;
   width: 180px;
}

div#facultyResearchTable{
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   text-align: center;
}

div.facultyResearch{
   margin-top: 5em;
   color: black;
   font-weight: bold;
}



/* ------------------------------------------------------------ */


/* RESOURCES SECTION */

#resourceSection{
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   width: 80%;
   font-size: 1.8em;
   padding: 2em;
}

/* #resourceSection div.row{
   margin-top: 4em;
} */

#resourceSection .col-lg-6{
   background-color: #FFBA75;
   text-align: center;
}

#resourceSection div.row h2{
   padding-top: calc(calc(200px - 1em)/2) !important;
   padding-left: calc(calc(300px - 1em)/2) !important;
   text-align: center;
}


/* ------------------------------------------------------------ */

/* SOCIAL SECTION */

div.social h1{
   padding-left: 1em;
   padding-bottom: 2em;
}

div.social h3{
   padding-left: 1em;
}

div.social p{
   text-align: center;
}

div.social a{
   font-size: 1.5em;
}

div.social a#fb{
   margin-top: 2em;
}



/* ------------------------------------------------------------ */

/* QUICKLINKS SECTION*/

#quicklinks{
   text-align: center;
}

#quicklinks h1{
   padding-bottom: 1em;
}

#quicklinks h3{
   padding: 0;
}

#formContainer{
   text-align: left;
   padding-left: 2em;
}

/* ------------------------------------------------------------ */

/* COPYRIGHT SECTION*/

#copyright{
   text-align:center;
   background-color: black;
   background-image: none;
   color: white;
   width: 100%;
   padding-top: 2em;
   padding-bottom: 2em;
}

/* ------------------------------------------------------------ */













